<div class="item">
                <div>Avatar URL</div>
                <div><input type="url" name="avatar_url" id="" placeholder="http://" ></div>
            </div>
            <div class="item">
                <div>Instrutor</div>
                <div><input type="text" name="name" id="" placeholder="Nome do Instrutor"></div>
            </div>
            <div class="item">
                <div>Data de Nascimento</div>
                <div><input type="date" name="birth" id=""></div>
            </div>
            <div class="item">
                <div>Sexo</div>
                <div>
                    <span><input type="radio" name="gender" value="M" checked id="">MASCULINO</span>
                    <span><input type="radio" name="gender" value="F" id="">FEMININO</span>
                </div>
            </div>
            <div class="item">
                <div>Area de Atuação</div>
                <div>
                    <input type="text" name="services" placeholder="Separe os serviços prestados por ',' ">
                </div>
            </div>
            <button type="submit">Salvar</button>