{% extends 'layout.njk' %}

{% block content %}
<div class="card">
    <section class="avatar" style ="background-image: url({{member.avatar_url}})"></section>
    <section class="details">
        <h3>Detalhes</h3>
        <div class="item">
            <div>Membro</div>
            <div>{{member.name}}</div>
        </div>
        <div class="item">
            <div>Sexo</div>
            <div>{{"Masculino" if member.gender == "M" else "Feminino"}}</div>
        </div>
        <div class="item">
            <div>Aniversário</div>
            <div>{{member.birthDay}}</div>
        </div>
        <div class="item">
            <div>Tipo sanguineo</div>
            <div>{{member.blood}}</div>
        </div>
        <div class="item">
            <div>Altura (cm)</div>
            <div>{{member.height}}</div>
        </div>
        <div class="item">
            <div>Peso</div>
            <div>{{member.weight}}</div>
        </div>
        <a href="/members/{{member.id}}/edit" class="button">Editar</a>
    </section>
</div>

{% endblock content %}